
<h1>Application#help</h1>

<p> Get help on ruby on Rails Tutorial at <a href="http://railstutorial.org/help">Rails tutorial help page </a>.<a href="http://www.railstutorial.org/book"><em>Ruby on Rails tutorial</em>book</a>.</p>
 
