<div class= "centre jumbotron">
  <h1> welcome to application_project1 </h1>
  <h2>
   This is the home page for the <a href="http://rails          tutorial.org/">Ruby on rails Tutorial</a>application project
  </h2>


 <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
 </div>

 <%= link_to image_tag("rails.png", alt: "Rails logo"),
       'http://rubyonrails.org/' %>
